@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300&family=Raleway:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@500;600;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

/* src/fonts.css */
@font-face {
  font-family: "General Sans";
  src: url("./assets/fonts/GeneralSans/Fonts/Variable/GeneralSans-Variable.ttf")
    format("truetype");
  /* Add more src lines for other font file formats if available */
}

/* Remove number type input arrows */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

* {
  font-family: "General Sans", sans-serif;
}
@layer components {
  /* Layout */
  .page-container {
    @apply flex flex-col justify-between w-screen pb-16 pt-14 desktop:flex-col mobile:px-4 tablet:px-8 desktop:px-16;
  }

  .base-btn {
    @apply inline-flex items-center justify-center px-4 py-2 w-[301px] h-[52px] bg-[#58c6aa] shadow-sm rounded-lg border-none cursor-pointer text-white;
  }

  .inverse-base-btn {
    @apply inline-flex items-center justify-center px-4 py-2 w-[301px] h-[52px] rounded-lg cursor-pointer text-green-950 text-[20px] font-semibold leading-8 bg-transparent border-green-950 border-solid;
  }

  .title {
    @apply text-[42px] font-bold leading-[63px];
  }

  .sub-title {
    @apply font-medium text-[24px] leading-9 text-[#0F1D40];
  }

  .link-text {
    @apply text-[#0F1D40] text-[18px] leading-[28.8px];
  }
}
